@charset "utf-8";
/* CSS Document */

body {
	font-family: 'segoe ui', sans-serif;
	font-size: 12px;
	background-color: white;
	
	


}
.style1 {
	font-family: 'segoe ui', sans-serif;
	font-size: 12px;
}
.ed_button {
	font-family: 'segoe ui', sans-serif;
	font-size: 9px;
}
a:link {
	color: #006699;
	text-decoration: none;
}
a:visited {
	color: #006699;
	text-decoration: none;
}
a:hover {
	color: #006699;
	text-decoration: underline;
}
a:active {
	color: #006699;
	text-decoration: none;
}
.style6 {
	color: #999999;
	font-weight: bold;
}
body {
	font-family: 'segoe ui', sans-serif;
	font-size: 12px;
	background-color: white;

}
.san9 {
	font-family: 'segoe ui', sans-serif;
	font-size: 9px;
}
.san10 {
	font-family: 'segoe ui', sans-serif;
	font-size: 10px;
}
.san11 {
	font-family: 'segoe ui', sans-serif;
	font-size: 11px;
}
.san12 {
	font-family: 'segoe ui', sans-serif;
	font-size: 12px;
}
.san13 {
	font-family: 'segoe ui', sans-serif;
	font-size: 13px;
}
.san13gray {
	font-family: 'segoe ui', sans-serif;
	font-size: 13px;
	color: gray;
}
.san25gray {
	font-family: 'segoe ui', sans-serif;
	font-size: 25px;
	color: gray;
}

.san13 {
	font-family: 'segoe ui', sans-serif;
	font-size: 13px;
}
.san14 {
	font-family: 'segoe ui', sans-serif;
	font-size: 14px;
}
.san15 {
	font-family: 'segoe ui', sans-serif;
	font-size: 15px;
}
.san16 {
	font-family: 'segoe ui', sans-serif;
	font-size: 16px;
}
.san17 {
	font-family: 'segoe ui', sans-serif;
	font-size: 17px;
}
.san18 {
	font-family: 'segoe ui', sans-serif;
	font-size: 18px;
}
.san19 {
	font-family: 'segoe ui', sans-serif;
	font-size: 19px;
}
.san20 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san22 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san24 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san26 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san28 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san30 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san33 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san35 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}
.san38 {
	font-family: 'segoe ui', sans-serif;
	font-size: 20px;
}


a:link {
	color: #006699;
	text-decoration: none;
}
a:visited {
	color: #006699;
	text-decoration: none;
}
a:hover {
	color: #006699;
	text-decoration: underline;
}
a:active {
	color: #006699;
	text-decoration: none;
}
input {
	font-size: 12px;
	font-family: 'segoe ui', sans-serif;
	color: #333333;
	padding:4px;
	border: 1px solid #999999;
	background-color:#F9FBFB;
}
textarea {
	font-size: 12px;
	font-family: 'segoe ui', sans-serif;
	color: #333333;
	padding:4px;
	border: 1px solid #999999;
	background-color:#F9FBFB;
}
.hinput {
	font-size: 12px;
	font-family: 'segoe ui', sans-serif;
	color: #333333;
	padding:4px;
	border: 1px solid #999999;
	background-color:#F9FBFB;
}
.hinputplain {
	font-size: 12px;
	font-family: 'segoe ui', sans-serif;
	color: #333333;
	padding:4px;
	border: 1px solid #999999;
	background-color:#F9FBFB;
}
input:hover {
	background-color:#eeeeee;
}
.hinput:hover {
	background-color:#eeeeee;
}
.orangesubmitbox {
	font-size: 11px;
	font-family: 'segoe ui', sans-serif;
	color: white;
	padding:5px;
	border: 1px solid #C93E29;
	background-color:#D54937;
	text-transform:uppercase;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight:bold;
}
.orangesubmitbox:hover {
	/*border: 1px solid black;
	background-color:#BE3A27;*/
	}
.downloadButton {
	padding: 6px;
	margin: 0;
	border-bottom-style: solid;
	border-bottom-width:thin;
	border-bottom-color: #cccccc;
	color:#006699;
	font-family: 'segoe ui', sans-serif;
	font-size:12px;
	line-height:20px;
}
a.downloadButton:link {
}
a.downloadButton:hover {
	background-color: #cde7fd;
}
.downloadButton:hover {
	background-color: #cde7fd;
}
.futura30 {
	font-family: futura, 'segoe ui', sans-serif;
	font-size: 30px;
	letter-spacing:6px;
	color:#333333;
}
.orangesubmitbox1 {	font-size: 11px;
	font-family: 'segoe ui', sans-serif;
	color: white;
	padding:5px;
	border: 1px solid #C93E29;
	background-color:#D54937;
	text-transform:uppercase;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight:bold;
}
.orangesubmitbox1:hover {	
	background-color:#D54937;
	color:white;
	text-decoration:none;
	
}
.orangesubmitbox1:link {	
	color:white;
	
}
.orangesubmitbox1:visited {	
	color:white;
	
}


.burritobutton{
padding:0px 10px; 
background-color:#eeeeee;
border:1px solid #cccccc;
border-radius:3px;
color:#858383;
display:inline-block;
font-family:'segoe ui',sans-serif;
font-size:13px;
font-weight:bold;
line-height:30px;
text-align:center;
text-decoration:none;
width:auto;
-webkit-text-size-adjust:none;
}
a.burritobutton:link {
color:#858383;
}
a.burritobutton:visited {
color:#858383;
}
a.burritobutton:hover {
background-color: #DFDFDF;
}




.bswhitebutton{
margin: 0px; vertical-align: middle; cursor: pointer; padding: 4px 12px; color: rgb(51, 51, 51); text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 1px; background-color: rgb(245, 245, 245); background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230)); border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgb(179, 179, 179); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-repeat: repeat no-repeat;}

 					
.bsbluebutton{
margin: 0px; vertical-align: middle; cursor: pointer; padding: 4px 12px; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; background-color: rgb(0, 109, 204); background-image: -webkit-linear-gradient(top, rgb(0, 136, 204), rgb(0, 68, 204)); border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-repeat: repeat no-repeat;}

bspalebluebutton{
margin: 0px; vertical-align: middle; cursor: pointer; padding: 4px 12px; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; background-color: rgb(73, 175, 205); background-image: -webkit-linear-gradient(top, rgb(91, 192, 222), rgb(47, 150, 180)); border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-repeat: repeat no-repeat;}


.bsgreenbutton{
margin: 0px; vertical-align: middle; cursor: pointer; padding: 4px 12px; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; background-color: rgb(91, 183, 91); background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81)); border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-repeat: repeat no-repeat;}

.bsyellowbutton{
margin: 0px; vertical-align: middle; cursor: pointer; padding: 4px 12px; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; background-color: rgb(250, 167, 50); background-image: -webkit-linear-gradient(top, rgb(251, 180, 80), rgb(248, 148, 6)); border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-repeat: repeat no-repeat;}


.bsredbutton{
margin: 0px; vertical-align: middle; cursor: pointer; padding: 4px 12px; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; background-color: rgb(218, 79, 73); background-image: -webkit-linear-gradient(top, rgb(238, 95, 91), rgb(189, 54, 47)); border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-repeat: repeat no-repeat;}

.bsblackbutton{
margin: 0px; vertical-align: middle; cursor: pointer; padding: 4px 12px; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; background-color: rgb(54, 54, 54); background-image: -webkit-linear-gradient(top, rgb(68, 68, 68), rgb(34, 34, 34)); border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-repeat: repeat no-repeat;}
